@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb{
    background-color: #c6d5df;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #6556CD;
    
}
